{{ define "main" }}
    <article class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-4">{{ .Title }}</h1>
                {{/*  there can be multiple images  */}}
                {{ range .Params.images }}
                    <img src="{{ . }}" alt="about page image" class="img-fluid d-block mx-auto">
                {{ end }}

                {{/*  or a single image with thumbnail as name in frontmatter  */}}
                {{ with .Params.thumbnail }}
                    <img src="{{ . }}" alt="about page image" class="img-fluid d-block mx-auto">
                {{ end }}
                <p class="lead">{{ .Content }}</p>
            </div>
        </div>
    </article>
{{ end }}
